@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
	font-family: "Open Sans", sans-serif;
	background-image: url('/assets/background.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	color: antiquewhite;
}

.center-div{
	padding-top: 10%;
	color: antiquewhite;
	
}



